<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubhave.triggermanager"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15" />

    <!-- Triggers -->
        <service android:name="com.ubhave.triggermanager.triggers.SurveyTriggerService" />
        <receiver android:name="com.ubhave.triggermanager.triggers.RebootBroadcastReceivers.RebootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

</manifest>
